@model GroupF.Models.GameInfo

@{ 
    String thumbLink = "http://media.steampowered.com/steamcommunity/public/images/apps/" + Model.appid + "/" + Model.img_logo_url + ".jpg";
}

<div class="card mb-3 pb-0">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src=@thumbLink class="card-img" alt="...">
        </div>
        <div class="col-md-8 card-body pl-5">
            <h5 class="card-title">@Model.name</h5>
            <p class="card-text">Hours played: @Math.Round((double)Model.playtime_forever / 60, 1)</p>
        </div>
    </div>
</div>



