
    <div class="card text-dark">
        <h2 class="card-header">To locate your <span class="text-steamIdandVanity">Steam Vanity Url</span> or <span class="text-steamIdandVanity">Steam Id</span></h2>
        <div class="card-body">
            <ol class="">
                <li>Naviagte to <a target="_blank" href="https://steamcommunity.com/">steamcommunity.com</a></li>
                <li>Log in to your profile</li>
                <li>Navigate to view my profile</li>
                <li>
                    Find your <span class="text-steamIdandVanity">Steam Vanity Url</span> or <span class="text-steamIdandVanity">Steam Id</span> in the last part of the url.<br />
                    <img src="~/Images/CaptureSteamWebUrl.PNG" />
                    <p class="">The <span class="text-danger">X's</span> are where you will find your <span class="text-steamIdandVanity">Steam Vanity Url</span> or <span class="text-steamIdandVanity">Steam Id</span></p>
                </li>
            </ol>
        </div>
    </div>