@using Microsoft.AspNetCore.Identity
@using GroupF.Areas.Identity
@inject SignInManager<GameUser> SignInManager
@inject UserManager<GameUser> UserManager
@{
    ViewData["Title"] = "Home Page";

}

    <div class="text-center text-white">
        <h1 class="display-4">Welcome!</h1>
        <p>You've stumbled upon the Steam Guilt Machine, a super advanced web application that is going to change your life forever. <br />
        <p>
            If you're like every other person in 2019, you have an extensive backlog of games on Steam that you will likely never play because you're too busy playing your
            favorite 3 games for the 20th time.  Steam Guilt Machine aims to change that.
        </p>

        The Steam Guilt machine looks at your Steam account and creates a curated list
        of games that you already own that you should play instead of buying new games that you won't play.</p>


        <p>Our advanced algorithms represent the peak of machine learning and panda-related technologies.  We hope you enjoy it.</p>

        <h6>~ Group F</h6>
        @{
            if (SignInManager.IsSignedIn(User))
            {
                <p>Your Ready</p>
                <button class="btn-lg btn-primary" type="button" onclick="location.href='@Url.Action("Recommendations", "Home")'">Get Your Recomendations!</button>
            }
            else
            {
                 <div class="row">
                     <div class="col-md-6 mx-auto">
                         <div class="card text-white border-dark bg-blackblue">
                             <p class="card-header"> Oh No! Your not Logged in!</p>
                             <p class="card-body ">In order to get your life changing recomendations you need to <a asp-area="Identity" asp-page="/Account/Register">Register</a> or <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
                         </div>
                     </div>
                 </div>
            }

            
        }
    </div>
