@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The creators of the Steam Guilt Machine will not be held accountable for anything at any given time for any reason, ever.</p>
<p>That being said, your privacy is important.  Luckily this site doesn't do anything with your information except store a curated list of applications associated with your Steam username.
    This is something that literally anyone could do if they had your Steam username, so it's probably not a big deal.</p>
