
@{
    ViewData["Title"] = "Recommendations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-xl-center text-white-50">Recommendations</h1>


    @model List<GameInfoPlus>
    @{
        if (ViewData["gameList"] != null)
        {
            var viewGamesList = (List<GameInfoPlus>)ViewData["gameList"];

            foreach (var game in viewGamesList)
            {

                @await Html.PartialAsync("~/Views/GameInfoPlus/_DisplayGameInfoPlus.cshtml", game)

            }
        }
        else
        {
            
            <h2 class="text-xl-center text-white-50"> Unfortunately something went wrong.  Is @ViewData["steamUserName"] a valid Steam account?</h2>

        }
    }

</div>
